*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Lucida Console";
}

body{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: #71797E;
    color: white;
    padding: 25px;
    width: 350px;
    border-radius: 35px;
    border: 3px solid black;
    
    
}

.calc-keys {
  margin: center;
  padding-top: 15px;
}

.container input {
  width: 100%;
  font-size: 3.5rem;
  text-align: end;
  background: transparent;
  color: black;
  border: none;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #a6a6a6;
  border-radius: 20px;
  border: 3px solid black;
}

button {
  background: #333333;
  color: #fff;
  font-size: 1.8rem;
  border: none;
  border-radius: 70%;
  cursor: pointer;
  height: 65px;
  width: 65px;
  border: 3px solid black;
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

.key-operate {
  background: #ff9501;
}

.key-others {
  background: white;
  color: #000000;
}

p{
  padding-right: 10px;
}

.calc-keys :hover{
  background: 65%;
}

button:active,
button:focus {
  filter: brightness(150%);
}

#ac {
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
}

